<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TypeRight.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TypeRight.Settings.TypeRightConnectionString" connectionString="Data Source=NETWYRKS_6-PC\SQLEXPRESS;Initial Catalog=TypeRight;Persist Security Info=True;User ID=sa;Password=dkk.sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TypeRight.Settings>
            <setting name="RegName" serializeAs="String">
                <value />
            </setting>
            <setting name="RegCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToolBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Splash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value />
            </setting>
            <setting name="Left" serializeAs="String">
                <value />
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value />
            </setting>
            <setting name="Group" serializeAs="String">
                <value />
            </setting>
            <setting name="Columns" serializeAs="String">
                <value />
            </setting>
        </TypeRight.Settings>
    </userSettings>
</configuration>
