<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TypeRight.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TypeRight.Settings.TypeRightConnectionString" connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=TypeRight;Persist Security Info=True;User ID=sa;Password=dkk.sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TypeRight.Settings>
            <setting name="RegName" serializeAs="String">
                <value>Eric Hindle</value>
            </setting>
            <setting name="RegCode" serializeAs="String">
                <value>CGL26PUYVR950JEA</value>
            </setting>
            <setting name="ButtonWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Minimise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sender" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DBUpdatePos" serializeAs="String">
                <value />
            </setting>
            <setting name="EditButtonPos" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupMaintPos" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:\netwyrks\TypeRight\Logs</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>D:\netwyrks\TypeRight\Backups</value>
            </setting>
            <setting name="ButtonListPos" serializeAs="String">
                <value>10~10~600~136</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>2.0.4</value>
            </setting>
            <setting name="SndrBtnFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewerPos" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpFormPos" serializeAs="String">
                <value />
            </setting>
        </TypeRight.Settings>
    </userSettings>
</configuration>
